.top-container {
  text-align: center;
}

.top-container-page-2 {
  text-align: left;
}

.back-button {
  display: inline-block;
  padding: 16px 16px 0 0;
}

.logo {
  display: inline-block;
  margin-top: 40px;
  align-content: center
}

.logo-page-2 {
  display: block;
  margin: 0 auto;

}

.form {
  margin-top: 40px;
  margin-bottom: 165px;
}

.centered-container {
  display: block;
  margin: auto;
  width: 320px;
}

.label {
  display: block;
  margin: 20px auto 8px auto;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ABAAAA;
}

.input {
  height: 40px;
  width: 318px;
  background: #F8F8F8;
  border-radius: 12px;
  border: none;
  padding-left: 16px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.currency-symbol {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  border-radius: 12px;
  border: none;
  background: #F8F8F8;
  height: 40px;
  width: 318px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #ABAAAA;
}

.currency-input {
  background: #F8F8F8;
  height: 40px;
  width: 318px;
  border-radius: 12px;
  border: none;
  padding-left: 8px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.currency-input:focus {
  outline: none;
}

.input:focus {
  outline: none;
}

.button {
  display: block;
  margin: 20px auto;
  width: 318px;
  height: 40px;
  color: white;
  background-color: black;
  justify-content: center;
  border-radius: 12px;
  border-style: none;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19.5px;
}

/** CHECKBOX HACK **/
/* The container */
.container {
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 0 auto;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 5px;
  width: 20px;
  height: 20px;
  background-color: #F8F8F8;
  border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  content: url("../assets/checkmark.svg");
  bottom: 2px;
  left: 6px;
}

/** SECOND PAGE **/

.info-container {
  margin-top: 40px;
  margin-bottom: 32px;
}

.info {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.info-bold {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

.label-street {
  display: inline-block;
  width: 70%;
}

.label-number {
  display: inline-block;
  width: 30%;
}

.input-street {
  display: inline-block;
  width: 64%;
  margin-right: 16px;
}

.input-number {
  display: inline-block;
  width: 30%;
}

/** THIRD PAGE **/

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.success-title {
  text-align: center;
  margin-top: 85px;
  margin-bottom: 47px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
}

.party-guy {
  height: 275px;
}

.thank-you-text {
  text-align: center;
  color: #ABAAAA;
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.learn-more-text {
  font-weight: 800;
}

.margin-big {
  margin-top: 61px;
}

.margin-small {
  margin-top: 32px;
}
