<div class="top-container" [ngClass]="{'top-container-page-2': page == 2}">
  <img *ngIf="page == 2" class="back-button" src="../assets/back_arrow.svg" (click)="decrementPage()"/>
  <img [ngClass]="{'logo-page-2': page == 2}" class="logo" src="../assets/givt_logo.svg"/>
</div>
<div *ngIf="page == 1">
  <div class="form">
    <div class="centered-container">
      <label class="label">Charity</label>
      <input class="input" />
      <label class="label">Amount</label>
      <span class="currency-symbol">€<input class="currency-input"/></span>
      <label class="label">Email</label>
      <input class="input" />
      <label class="label">Payment Method</label>
      <input class="input" />
    </div>
  </div>
  <label class="container">I would like a tax certificate for this donation
    <input type="checkbox" (click)="toggleTaxCertificate()">
    <span class="checkmark"></span>
  </label>
  <button class="button" (click)="incrementPage()">next</button>
</div>
<div *ngIf="page == 2 && taxCertificate">
  <div class="centered-container info-container">
    <p class="info-bold">Givt provides you with a personal overview and a yearly tax report.</p>
    <p class="info">Fill in the form below to create an account</p>
  </div>
  <div class="centered-container">
    <label class="label">First name</label>
    <input class="input" />
    <label class="label">Last name</label>
    <input class="input" />
    <label class="label label-street">Street</label>
    <label class="label label-number">Number</label>
    <input class="input input-street" />
    <input class="input input-number" />
    <label class="label">City</label>
    <input class="input" />
    <label class="label">Country</label>
    <input class="input" />
  </div>
  <button class="button" (click)="incrementPage()">continue to payment</button>
</div>

<div *ngIf="page == 3">
  <div class="centered-container flex-container">
    <h1 class="success-title">You're all done!</h1>
    <img class="party-guy" src="../assets/party-guy.svg\">
    <p *ngIf="taxCertificate" class="thank-you-text">Thank you for donating with Givt</p>
    <p *ngIf="!taxCertificate" class="thank-you-text">Givt provides you with a personal overview and a yearly tax report. Doing your taxes was never this easy! <span class="learn-more-text">Want to learn more?</span></p>
    <button class="button" [ngClass]="{'margin-big': taxCertificate,'margin-small': !taxCertificate}"><span *ngIf="taxCertificate">to my overview</span><span *ngIf="!taxCertificate">create an account</span></button>
  </div>
</div>
